<!DOCTYPE html>
<html>
  <head>
    <title>ReMarkReview</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% unless current_page?(root_url) %>
      <%= link_to "<- Home", root_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
